__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store

matgl_chgnet_dgl_cache/
matgl_pyg_cache/
runs/
ASE/__pycache__/

Bulk_Data/
Data/
fairchem/
matgl/
matgl_chgnet_data/
matgl_tensornet_finetuned/
oc22/
ocp/
s2ef_train_200K.tar
dgl_repo.html
run_small_cpu.log

